@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  font-family: "Inter", sans-serif;
}

body {
  color: var(--foreground);
  background: linear-gradient(90deg, #0a0a0a, #171717);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}